[*.kt]

# Formatter
# requiere espacios dentro de las llaves. como esta desactivado, no se requieren espacios.
ktlint_standard_curly-spacing = disabled
ktlint_standard_max-line-length = 120


# Linter
# requiere que el nombre del archivo .kt sea el mismo que la clase pública que contiene.
ktlint_standard_filename = disabled
# requiere que las declaraciones de importación estén ordenadas alfabéticamente.
ktlint_standard_import-ordering = disabled